@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-ThinItalic.ttf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-MediumItalic.ttf");
    font-style: italic;
    font-weight: bold;
}


@keyframes myAnim {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}


@keyframes animShowFromUpAndLeft {
	0% {
		transform: translateX(-200px);
        transform: translateY(-200px);
		transform-origin: 0% 100%;
	}

	100% {
		transform: translateX(0);
        transform: translateY(0);
		transform-origin: 0% 100%
	}
}

@keyframes animShowFromDownAndLeft {
	0% {
		
        opacity: 0;
        transform: translateX(-50px);
		transform-origin: 0% 100%;
	}

	100% {
        opacity: 1;
        transform: translateX(0);
		transform-origin: 0% 100%
	}
}

@keyframes animShowFromLeft {
	0% {
		
        opacity: 0;
        transform: translateX(50px);
		transform-origin: 0% 100%;
	}

	100% {
        opacity: 1;
        transform: translateX(0);
		transform-origin: 0% 100%
	}
}

@keyframes animShowFromRight {
	0% {
		
        opacity: 0;
        transform: translateX(-50px);
		transform-origin: 0% 100%;
	}

	100% {
        opacity: 1;
        transform: translateX(0);
		transform-origin: 0% 100%
	}
}


html, body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.navbar-brand{
    animation: animShowFromUpAndLeft 1.2s ease-in-out 0s 1 normal forwards;
}

.contact-block-wrapper{
    animation: animShowFromUpAndLeft 1.4s ease-in-out 0s 1 normal forwards; 
}

.text-dark-suut{
    color: #414141;
}

.border-bottom-animation{
    animation: myAnim 2s ease-in-out 0s 1 reverse forwards;
}


.border-bottom-animation::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #377878;
    transform-origin: 100%;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.border-bottom-animation:hover::after {
    transform-origin: 0%;
    transform: scaleX(1);
    transition: transform .3s  ease-in-out;
}


.contact-block{
    margin: 0;
}

.contact-block-item{
    cursor: pointer;
    
}

.contact-block-item:hover{
    color: #377878;
}


.wrapper_specialization{
    border-radius: 45px;
    background-color:rgb(240, 255,255); 
     /* rgb(240, 255,255); */
}

.specialization-info{
    animation: animShowFromRight 1.2s ease-in-out 0s 1 normal forwards;
}

.specialization-img{
    /* position: relative; */
   display: grid;
   
}
/* .img-person{
    position: relative;
    z-index: 22;
    animation: animShowFromDownAndLeft 1.2s ease-in-out 0s 1 normal forwards;
    bottom: 0;
}

.img-figure{
    animation: animShowFromLeft 1.4s ease-in-out 0s 1 normal forwards; 
    position: absolute;
    height: inherit;
    bottom: 0;
    right: 6%;
    z-index: 1;
    border-radius: 30%;
   
} */

.img-person{
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    animation: animShowFromDownAndLeft 1.2s ease-in-out 0s 1 normal forwards;
}

.img-figure{
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("../img/photo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 1;
    animation: animShowFromLeft 1.4s ease-in-out 0s 1 normal forwards; 
   margin: 20px;
   
}

.btn-suut-green{
    background-color: #377878;
    color: #fff;
  
    box-sizing: border-box;
    border: 2px solid #377878 ;
}

.btn-suut-green:hover{
    color: #fff;
    border: 2px solid #414141 ;
    box-sizing: border-box;
    background-color: #414141;
}

.btn-suut-white{
    background-color: rgba(0,0,0,0);
    color: #414141;
   
    box-sizing: border-box;
    border: 2px solid #414141 ;
}

.btn-suut-white:hover{
    background-color: #414141;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #414141 ;
}