@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-ThinItalic.ttf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-MediumItalic.ttf");
    font-style: italic;
    font-weight: 500;
}


@keyframes myAnim {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}


@keyframes animShowFromUpAndLeft {
	0% {
		transform: translateX(-200px);
        transform: translateY(-200px);
		transform-origin: 0% 100%;
	}

	100% {
		transform: translateX(0);
        transform: translateY(0);
		transform-origin: 0% 100%
	}
}

@keyframes animShowFromDownAndLeft {
	0% {
		
        opacity: 0;
        transform: translateX(-50px);
		transform-origin: 0% 100%;
	}

	100% {
        opacity: 1;
        transform: translateX(0);
		transform-origin: 0% 100%
	}
}

@keyframes animShowFromLeft {
	0% {
		
        opacity: 0;
        transform: translateX(50px);
		transform-origin: 0% 100%;
	}

	100% {
        opacity: 1;
        transform: translateX(0);
		transform-origin: 0% 100%
	}
}

@keyframes animShowFromRight {
	0% {
		
        opacity: 0;
        transform: translateX(-50px);
		transform-origin: 0% 100%;
	}

	100% {
        opacity: 1;
        transform: translateX(0);
		transform-origin: 0% 100%
	}
}


html, body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    min-width: 360px;
}

.navbar-brand{
    animation: animShowFromUpAndLeft 1.2s ease-in-out 0s 1 normal forwards;
}

.navbar-brand img {
    width: 115px;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}
.contact-block-wrapper{
    animation: animShowFromUpAndLeft 1.4s ease-in-out 0s 1 normal forwards; 
}

.text-dark-suut{
    color: #414141;
}

.text-transform-uppercase{
    text-transform: uppercase;
}
.text-medium-suut{
    font-weight: 500;
}

.border-bottom-animation{
    animation: myAnim 2s ease-in-out 0s 1 reverse forwards;
}


.border-bottom-animation::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #377878;
    transform-origin: 100%;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.border-bottom-animation:hover::after {
    transform-origin: 0%;
    transform: scaleX(1);
    transition: transform .3s  ease-in-out;
}


.contact-block{
    margin: 0;
}

.contact-block-item{
    cursor: pointer;
    font-size: 0.7rem;
    
}

.contact-block-item:hover{
    color: #377878;
}


.wrapper-specialization-info{
    border-radius: 20px;
    position: relative;

}

.background-color-gray{
    background-color: #f3f3f3;
}

.fs-6-suut{
    font-size: 1rem;
}
.fs-7-suut{
    font-size: 0.60rem;
}

.fs-btn-suut{
    font-size: 0.60rem;
}

.fs-8-suut{
    font-size: 0.50rem;
}

.label-specialization{
    padding: 0.6rem;
    border-radius: 60px;
    background-color: #CFF4F1;
    
    text-align: center;
    line-height: 0;
    display: inline-block;
}

.line-height-small{
    line-height: 1.2rem;
}

.text-white{
    color: #fff;
}

.btn-primary-suut{
    color: #fff;
    background-color: #008690  !important;
}

.btn-primary-suut:active, .btn-primary-suut:focus{
    background-color: #008690 !important;
}
.specialization-information{
    z-index: 5;
}
.specialization-img-back{
    min-height: 80%;
    max-width: 40%;
    /* background-image: url("../img/welcome_spec-bg_free.png"); */
  
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.students-img{
    background-image: url("../img/welcome_spec-bg_free.png");
    min-width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
}

.figure-img{
    background-image: url("../img/photo.png");
    min-width: 100%;
    max-height: 40%;
    min-height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

